doctype html
head
  title Try IdeaDeck
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='description', content='Lightweight web-app to generate idea deck with call to action buttons')
  meta(property='og:image', content='light-bulb.png')
  link(rel='stylesheet', href='./css/form.css')
header.a
  h1.ag IdeaDeck
  p.ah Lightweight web-app to generate idea deck with call to action buttons
.b
  form.c(method='POST', action='/try')
    label(for='i1') What is it called
      span=(error && error.i1)? ` (${error.i1})` : ''
    |:
    input#i1(type='text', name='i1', size=30, placeholder='Enter name of your product/idea', area-invalid=(error && error.i1)? 'true':'false', value=i1)
    pre.
      Eg. IdeaDeck

    br
    label(for='i2') What is it all about
      span=(error && error.i1)? ` (${error.i2})` : ''
    |:
    input#i2(type='text', name='i2', size=75, placeholder='Is it a bird? Is it a plane? Is it Superman??', area-invalid=(error && error.i2)? 'true':'false', value=i2)
    pre.
      Eg. Lightweight web-app to generate idea deck with call to action buttons

    br
    label(for='i3') What does it do:
      span=(error && error.i1)? ` (${error.i3})` : ''
    |:
    input#i3(type='text', name='i3', size=90, placeholder='Explain why was the product/idea developed?', area-invalid=(error && error.i3)? 'true':'false', value=i3)
    pre.
      Eg. Helping innovators, entrepreneurs, and non-profits clearly and concisely explain their idea and product.

    br
    label(for='i4') Explain your idea/product in a short paragraph or 3-4 points:
      span=(error && error.i4)? ` (${error.i4})` : ''
    |:
    br
    textarea#i4(name='i4', rows=4, cols=75, placeholder='Enter product/idea details', area-invalid=(error && error.i4)? 'true':'false')=i4
    pre.
      Eg.
      With over 100 million businesses are launched annually.
      Innovators need ways to convey their idea clearly to their audience.
      IdeaDeck: Easily create, host and share your ideas with call to action buttons.
      Works on all devices, ultra-light weight (~ 4 KB) and doesn't require any javascript.

    br

    div
      if (i5 !== 'true')
        input(type='submit', value='Include Buzzwords' name='add_buzzwords')
      else
        include buzzwords
    input(type='hidden', name='i5', value=i5)
    br

    br
    div
      if (!i7)
        fieldset
          legend Select primary call to action buttons (Max two)
            span=(error && error.i6)? ` Error: ${error.i6}` : ''
          input#i6a(type='checkbox', name='i6', value='website', area-invalid=(error && error.i6)? 'true':'false', checked=(i6 && i6.indexOf('website')>=0) )
          label(for='i6a') Website
          input#i6b(type='checkbox', name='i6', value='buy', area-invalid=(error && error.i6)? 'true':'false', checked=(i6 && i6.indexOf('buy')>=0) )
          label(for='i6b') Buy
          input#i6c(type='checkbox', name='i6', value='donate', area-invalid=(error && error.i6)? 'true':'false', checked=(i6 && i6.indexOf('donate')>=0) )
          label(for='i6c') Donate
        input(type='submit', name='add_call_to_action' value='Add call to action buttons')
      else
        include callForAction
    input(type='hidden', name='i7', value=i7)
    br

    br
    input#i8(type='checkbox', name='i8', value='i8', checked=(i8))
    label(for='i8') Include social sharing buttons
    br

    br
    div
      if (i9 !== 'true')
        input(type='submit', value='Include subscribe widget' name='add_subscribe')
      else
        include subscribe
    input(type='hidden', name='i9', value=i9)
    br

    br
    label(for='i10_0')|Image URL (We recommned using
    a(href='https://postimg.org/') postimg.org
    |  for free image hosting)
    span=(error && error.i10_0)? ` (${error.i10_0})` : ''
    |:
    input#i10_0(type='text', name='i10', placeholder='Enter url of a self hosted image', area-invalid=(error && error.i10_0)? 'true':'false', value=i10_0)
    pre.
      Eg. https://s15.postimg.org/ynmtf53ez/mario.png
    label(for='i11_0') Image title
      span=(error && error.i10_0)? ` (${error.i10_0})` : ''
    |:
    input#i11_0(type='text', name='i11', placeholder='Enter image title', area-invalid=(error && error.i11_0)? 'true':'false', value=i11_0)
    pre.
        Eg. Mario

    br
    input(type='submit', value='Add another image' name='add_image')

    br
    input(type='submit', value='Generate' name='generate')
