doctype html
head
  title Try IdeaDeck
  meta(name='viewport', content='width=device-width,initial-scale=1')
  meta(name='description', content='Lightweight web-app to generate idea deck with call to action buttons')
  link(rel='stylesheet', href='./css/form.css')
header.a
  h1.ag IdeaDeck
  p.ah Lightweight web-app to generate idea deck with call to action buttons
.b
  form#f1.c(method='POST', action='/try')
    label(for='i1') What is it called
      span=(error && error.i1)? ` (${error.i1})` : ''
    input#i1(type='text', name='i1', size=30, placeholder='Enter name of your product/idea', area-invalid=(error && error.i1)? 'true':'false', value=i1, required, autocorrect='off', spellcheck='false')
    pre.
      Eg. IdeaDeck

    br
    label(for='i2') What is it all about
      span=(error && error.i2)? ` (${error.i2})` : ''
    input#i2(type='text', name='i2', size=75, placeholder='Is it a bird? Is it a plane? Is it Superman??', area-invalid=(error && error.i2)? 'true':'false', value=i2, required)
    pre.
      Eg. Lightweight web-app to generate idea deck with call to action buttons

    br
    label(for='i3') What does it do
      span=(error && error.i3)? ` (${error.i3})` : ''
    input#i3(type='text', name='i3', size=90, placeholder='Explain why was the product/idea developed?', area-invalid=(error && error.i3)? 'true':'false', value=i3, required)
    pre.
      Eg. Helping innovators, entrepreneurs, and non-profits clearly and concisely explain their idea and product.

    br
    label(for='i4') Explain your idea/product in a short paragraph or 3-4 points
      span=(error && error.i4)? ` (${error.i4})` : ''
    br
    textarea#i4(name='i4', rows=4, cols=75, placeholder='Enter product/idea details', area-invalid=(error && error.i4)? 'true':'false', required)=i4
    pre.
      Eg.
      With over 100 million businesses are launched annually.
      Innovators need ways to convey their idea clearly to their audience.
      IdeaDeck: Easily create, host and share your ideas with call to action buttons.
      Works on all devices, ultra-light weight (~ 4 KB) and doesn't require any javascript.

    br

    div
      include buzzwords

    br
    div
      if (!i7)
        fieldset
          legend Select primary call to action buttons (Max two)
            span#ei6=(error && error.i6)? ` (${error.i6})` : ''
          input#i6a(type='checkbox', class='i6', name='i6', value='website', area-invalid=(error && error.i6)? 'true':'false', checked=(i6 && i6.indexOf('website')>=0) )
          label(for='i6a') Website
          input#i6b(type='checkbox', class='i6', name='i6', value='buy', area-invalid=(error && error.i6)? 'true':'false', checked=(i6 && i6.indexOf('buy')>=0) )
          label(for='i6b') Buy
          input#i6c(type='checkbox', class='i6', name='i6', value='donate', area-invalid=(error && error.i6)? 'true':'false', checked=(i6 && i6.indexOf('donate')>=0) )
          label(for='i6c') Donate
        input(type='hidden', name='i7', value=i7)
        input(type='submit', class='s', name='add_call_to_action', data-field="i6", value='Add call to action buttons')
      else
        include callForAction

    br
    label(for='i12') Enter call to action button text
      span=(error && error.i12)? ` (${error.i12})` : ''
    input#i12(type='text', name='i12', size=90, placeholder='Tell your audience why should they buy/donate or visit your website?', area-invalid=(error && error.i12)? 'true':'false', value=i12)
    pre.
      Eg. Try IdeaDeck for free now !!!

    br
    input#i8(type='checkbox', name='i8', value='i8', checked=(i8))
    label(for='i8') Include social sharing buttons
    br

    br
    div
      include subscribe
    br

    div#imgs
      each img, index in i10
        include photos
      input(type='hidden', name='i10_l', value='#{i10.length}')

      input(type='submit', class='s', value='Add another image' name='add_image', data-field="i10_l", data-method='apnd')

    br
    label(for='i13') Enter some footer text
      span=(error && error.i13)? ` (${error.i13})` : ''
    input#i13(type='text', name='i13', size=90, placeholder='Include your optional fotter text here', area-invalid=(error && error.i13)? 'true':'false', value=i13)
    pre.
      Eg. Developed using IdeaDeck

    br
    input#g(type='submit', value='Generate' name='generate')

  script
    :uglify-js
      (function() {
        var btn = '', a = document;
        function s() {
          var b, c;
          if (a.readyState != 'interactive' || !a.getElementsByClassName || !window
            .XMLHttpRequest) {
            console.log('returning');
            return;
          }
          a.forms[0].onsubmit = d;
          b = a.getElementsByClassName('s')
          for (c = 0; c < b.length; c++) {
            b[c].onclick = function(evt) {
              btn = this;
            }
          }
        }

        function d(e) {
          if (!btn) {
            return;
          }
          var b, c, f, i, m, p = {},
            x;
          b = btn.getAttribute('data-field');
          if (b) {
            c = a.forms[0][b];
            c = c ? (!c.length ? [c] : c) : [];
            p[b] = [];
            for (i = 0; i < c.length; i++) {
              f = c[i].type === 'checkbox' ? (c[i].checked ? c[i].value : '') : c[i]
                .value;
              if (f) {
                p[b].push(f);
              }
              if (b === 'i10_l') { /*err!*/
                c[i].value = parseInt(c[i].value) + 1;
              }
            }
          }
          p[btn.name] = btn.name;
          c = btn;
          x = new XMLHttpRequest
          x.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
              if (this.getResponseHeader('Content-Type').split(';')[0] ===
                'text/html') {
                b = a.getElementById(c.getAttribute('data-target'));
                m = c.getAttribute('data-method');
                b = b ? b : c.parentNode;
                if (m === 'apnd') {
                  var elem = document.createElement('div');
                  elem.innerHTML = this.responseText + '<br/>';
                  b.insertBefore(elem, c);
                  console.log(elem.childNodes);
                } else {
                  b.innerHTML = this.responseText;
                }

              } else {
                var ej = JSON.parse(this.responseText).error,
                  el, iel, i;
                for (var e in ej) {
                  el = document.getElementById('e' + e);
                  (el != null) ? el.innerHTML = ' (' + ej[e] + ')': 0;
                  iel = document.getElementsByClassName(e);
                  for (i = 0; i < iel.length; i++) {
                    iel[i].setAttribute('area-invalid', 'true');
                  }
                }
                console.log('ignoring json response over ajax:::\n', this.responseText);
              }
            }
          };
          x.open('POST', 'try', true);
          x.setRequestHeader("Content-type", "application/json");
          x.send(JSON.stringify(p));

          btn = undefined;
          e.preventDefault();
        }
        a.onreadystatechange = s;
      }());
